<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Upcoming Week </mat-panel-title>
      <mat-panel-description>
        {{ upcomingStartDate | date: 'MMM d' }} - {{ upcomingEndDate | date: 'MMM d' }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table mat-table [dataSource]="dataSourceUpcomingWeek" class="mat-elevation-z8">
      <ng-container matColumnDef="uid">
        <th mat-header-cell *matHeaderCellDef>Roomie</th>
        <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
      </ng-container>

      <ng-container matColumnDef="task">
        <th mat-header-cell *matHeaderCellDef>Task</th>
        <td mat-cell *matCellDef="let element">{{ element.task }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedUpcomingAssignedTasksColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedUpcomingAssignedTasksColumns"></tr>
    </table>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title> Current Week </mat-panel-title>
      <mat-panel-description>
        {{ currentStartDate | date: 'MMM d' }} - {{ currentEndDate | date: 'MMM d' }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSourceCurrentWeek" class="mat-elevation-z8">
        <ng-container matColumnDef="uid">
          <th mat-header-cell *matHeaderCellDef>Roomie</th>
          <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
        </ng-container>

        <ng-container matColumnDef="task">
          <th mat-header-cell *matHeaderCellDef>Task</th>
          <td mat-cell *matCellDef="let element">{{ element.task }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">{{ element.status }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <div class="action-button-row">
              <button
                mat-stroked-button
                *ngIf="currentUserId === element.uid"
                (click)="markAsDone(currentWeekRecordId, element.task)"
                [disabled]="element.status === 'Done'"
              >
                <mat-icon>check</mat-icon>
                Mark as Done
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedAssignedTasksColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedAssignedTasksColumns"></tr>
      </table>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Previous Week </mat-panel-title>
      <mat-panel-description>
        {{ previousStartDate | date: 'MMM d' }} - {{ previousEndDate | date: 'MMM d' }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSourcePreviousWeek" class="mat-elevation-z8">
        <ng-container matColumnDef="uid">
          <th mat-header-cell *matHeaderCellDef>Roomie</th>
          <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
        </ng-container>

        <ng-container matColumnDef="task">
          <th mat-header-cell *matHeaderCellDef>Task</th>
          <td mat-cell *matCellDef="let element">{{ element.task }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">{{ element.status }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <div class="action-button-row">
              <button
                mat-stroked-button
                *ngIf="currentUserId === element.uid"
                (click)="markAsDone(previousWeekRecordId, element.task)"
                [disabled]="element.status === 'Done'"
              >
                <mat-icon>check</mat-icon>
                Mark as Done
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedAssignedTasksColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedAssignedTasksColumns"></tr>
      </table>
    </div>
  </mat-expansion-panel>
</mat-accordion>
