.dashboard-container {
  padding: 2px;
  max-width: 1000px;
  margin: 0 auto;
}

.spacer {
  flex: 1 1 auto;
}

table {
  width: auto;
  margin-top: 20px;
}

.leaderboard-card {
  width: auto;
}

.leaderboard-card-footer {
  padding: 16px;
}
