@use '@angular/material' as mat;

$my-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$rose-palette,
    tertiary: mat.$rose-palette,
  ),
));

html {
  @include mat.all-component-themes($my-theme);
  @include mat.system-level-colors($my-theme);
}

:root {
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary-container),
    container-text-color: var(--mat-sys-secondary),
  ));

  @include mat.sidenav-overrides((
    container-text-color: var(--mat-sys-primary),
    content-text-color: var(--mat-sys-primary),
  ));
}